#search-field {
    font-size: 1.2rem;
    width: 100%;
}

#search-submit {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
}

.theme-filter, .modules-filter, .width-filter, .height-filter, .price-filter {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;
}