#search-field {
    font-size: 1.2rem;
    width: 100%;
}

#search-submit {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
}

.theme-filter, .modules-filter, .width-filter, .height-filter, .price-filter {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;
}
/* --------------------------------------------------------- */

.category-list {
    font-size: 1.25rem;
}

.form-filter h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #4f4f4f;
}

.category-list button {
    display: block;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0.25em 0;
    padding: 0.25em 0;
    color: #858585;
    font-size: 1rem;
    cursor: pointer;
}

button.active {
    border-bottom: 2px solid;
    color: #4f4f4f;
}
