#search-field {
    font-size: 1.2rem;
    width: 100%;
    border: 2px #7ccbc8 solid;
}

#search-submit {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
}

.theme-filter, .modules-filter, .width-filter, .height-filter, .price-filter {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;
}
/* --------------------------------------------------------- */

.category-list {
    font-size: 1.25rem;
}

.form-filter h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #4f4f4f;
}

.category-list button {
    display: block;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: 0.25em 0;
    padding: 0.25em 0;
    color: #858585;
    font-size: 1rem;
    cursor: pointer;
}

button.active {
    border-bottom: 2px solid;
    color: #4f4f4f;
}

.range_price {
    padding: 10px 0;
    margin: 10px 0 20px 0;
}

.filters320 {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.icon_filter {
    display: none;
}

.icon_filter img {
    width: 27px;
}

.filters_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.displaynone {
    display: none;
}

@media screen and (max-width: 650px) {
    .filters_wrapper {
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    .icon_filter {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .filters_wrapper {
        display: none;
    }

}