.product_wrapper {
    width: 90vw;
    margin: 0 auto;
}

.product_content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 1rem;
    margin: 1rem auto;
}

.product_img img{
    height: 425px;
    object-fit: contain;
}

.product_info {
    width: 300px;
    display: grid;
    color: #4f4f4f;
    grid-template-columns: 200px 1fr;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.product_price {
    color: #7ccbc8;
    font-size: 1.2rem;
}

.product_name {
    font-size: 2.5rem;
    color: #4f4f4f;
    margin-top: 0;
}

.cart_button, .back_button {
    padding: 0.5rem 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: #7ccbc8;
    margin: 0;
    border-radius: 0.25rem;
    border: none;
}

.cart_button:hover, .back_button:hover {
    cursor: pointer;
    background-color: #4f4f4f;
    color: #7ccbc8;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .8);
    transition: all .5s;
}

.button_container {
    padding-top: 1rem;
    display: grid;
    column-gap: 3em;
    grid-template-columns: 8rem 1fr;
    grid-template-areas: 
    "A B"
    "C D";
}

.amount_buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
    grid-area: A;
}

.amount_buttons_container h2 {
    margin: 0;
    color: #4f4f4f;
    font-size: 1.5rem;
}

.amount_button {
    background: transparent;
    border-color: transparent;
    color: #4f4f4f;
    cursor: pointer;
    padding: 1rem 0px;
    font-weight: bold;
    width: 4rem;
    height: 2rem;
    font-size: 1.2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.back {
    padding-top: 1rem;
}

.text-added {
    grid-area: B;
}

.cart_button {
    grid-area: C;
}

.disabled {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .product_img img{
        height: 350px;
    }

    .product_info {
        max-width: 200px;
        grid-template-columns: 100px 1fr;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .product_name {
        font-size: 1.5rem;
    }

    .button_container {
        width: 100px;
        padding-top: 0.5rem;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "A"
        "C"
        "B";
    }

    .text-added {
        font-size: 0.8rem;
        text-align: center;
    }

    .amount_button {
        width: 2rem;
        height: 0.8rem;
        font-size: 1rem;
    }

    .amount_buttons_container {
        margin-bottom: 0;
    }

    .amount_buttons_container h2 {
        font-size: 1rem;
    }

    .cart_button {
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 600px) {
    .product_content_wrapper {
        grid-template-columns: 1fr;
    }

    .product_img img {
        width: 100%;
        height: auto;
    }
}
