.footer-wrapper {
    background-color: #7ccbc8;
    color: #4f4f4f;
    padding: 0.8rem 5vw;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.footer-text {
    margin: auto;
}