.product_wrapper {
    width: 90vw;
    margin: 0 auto;
}

.product_content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem auto;
}

.product_img img{
    height: 500px;
    object-fit: contain;
}

.product_info {
    width: 300px;
    display: grid;
    color: #4f4f4f;
    grid-template-columns: 200px 1fr;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.product_price {
    color: #7ccbc8;
    font-size: 1.8rem;
}

.product_name {
    font-size: 3rem;
    color: #4f4f4f;
    margin-top: 0;
}

.cart_button, .back_button {
    padding: 0.5rem 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #7ccbc8;
    margin: 0;
    border-radius: 0.25rem;
    border: none;
}

.cart_button:hover, .back_button:hover {
    cursor: pointer;
    background-color: #4f4f4f;
    color: #7ccbc8;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .8);
    transition: all .5s;
}

.button_container {
    padding-top: 1.5rem;
    display: grid;
    column-gap: 3em;
    grid-template-columns: 10rem 1fr;
    grid-template-areas: 
    "A B"
    "C C";
}

.amount_buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.amount_buttons_container h2 {
    margin: 0;
    color: #4f4f4f;
    font-size: 2rem;
}

.amount_button {
    background: transparent;
    border-color: transparent;
    color: #4f4f4f;
    cursor: pointer;
    padding: 1rem 0px;
    font-weight: bold;
    width: 4rem;
    height: 2rem;
    font-size: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.back {
    padding-top: 3rem;
}

